@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";

html {
    overscroll-behavior-y: none;
}

body {
  background-color: white;
  overscroll-behavior-y: none;
}

.page-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

$pagination-size: 0.2em;
$pagination-selected-size: 1.5em;

.pagination {
    &.button-size {
        font-size: $pagination-size
    }
}

.pager {
    position: fixed;
    right: 10px;
    height: 100vh;
    z-index: 100;
    display: flex;
}

.is-current {
    &.current-size {
        font-size: $pagination-selected-size
    }
}

.vertical-flow {
    flex-direction: column;
}

.page {
    height: 100%;
}

.part-0 {
    height: 100vh;
}